<h2>{{title}}</h2>
<div style="margin: 15px;" class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
    <input type="text" [(ngModel)]="user.name" class="form-control" aria-label="name"
        aria-describedby="inputGroup-sizing-default">
</div>
<div style="margin: 15px;" class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Age</span>
    <input type="text" [(ngModel)]="user.age" class="form-control" aria-label="age"
        aria-describedby="inputGroup-sizing-default">
</div>

<h5>Gender</h5>

<div style="margin: 15px;" class="form-check">
    <input class="form-check-input" [(ngModel)]="user.gender" type="radio" value="Male" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
        Male
    </label>
</div>
<div style="margin: 15px;" class="form-check">
    <input class="form-check-input" [(ngModel)]="user.gender" type="radio" value="Female" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">
        Female
    </label>
</div>
<button type="button" style="margin-left: 800px;position: relative; align-items:center;" (click)="save()"
    class="btn btn-primary">Submit</button>
<h1 class="display-6" style="color: green;" >{{result}}</h1>